<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztrs.zgj">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:name=".ZgjApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".setting.TorqueCalibrationActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".setting.WindCalibrationActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".setting.HeightSensorCalibrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.AmplitudeSensorCalibrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.AroundSensorCalibrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.WeightCalibrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.SlopeCalibrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.TorqueCurveActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".setting.WireRopeCalibrationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.SensorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.InstallationActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".setting.PreventCollisionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.OutputActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.SystemSetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.FirmwareUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.SoftwareUpdateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".setting.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".main.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ztrs.zgj"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".main.BootReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>